* {
  box-sizing: border-box;
  font-family: Karla;
}

body {
  margin: 0;
}

.game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 35rem;
  margin-inline: 3rem;
  margin-block: 1rem;
  padding: 1rem;
}

.soln-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 9rem;
  margin: 1rem;
  padding: 0.7rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 9rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  color: #000300;
  border-radius: 25px;
}

.soln-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  font-size: 0.3rem;
  margin: 0.1rem;
}

.controls {
  margin-left: 6rem;
  display: flex;
  width: 30rem;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 0.3rem;
  margin-block: 0.3rem;
  height: 2.7rem;
  font-size: 1.2rem;
}

.button:hover {
  cursor: pointer;
}

.button > span {
  margin: 0;
  font-weight: 500;
}

.btn-solve {
  background-color: white;
  padding-inline: 0.3rem;
}

.btn-solve > span {
  color: black;
}

.btn-ngame {
  padding-inline: 1.7rem;
  background-color: #C8A2C8;
}

.btn-ngame:hover {
  background-color: white;
  border: 1.5px solid #EEF2E6;
}

.btn-ngame:hover > span {
  color: #C8A2C8;
}

.btn-ngame> span {
  color: white;
}

.row {
  display: flex;
}

.st-tile {
  background-color: white;
  border: 0.12rem solid #878787;
}

.content {
  margin-top: 9rem;
  margin-left: 6rem;
}

.soln {
  padding: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  height: 7rem;
}